<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="submit" method="POST">  {% csrf_token %}
            <label>Usuario - </label>
            <input type="text" name="username "/>
            <label>Password - </label>
            <input type="password" name="password "/>
            <button type="submit">Entrar</button>
        </form>
        {% for message in messages %}
            <strong>Error</strong> {{message}}
        {% endfor %}
    </body>
</html>